.app {
  display: grid;
  /* grid-template-rows: 150px auto; */
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

.app_main {
  display: flex;
  justify-content: space-around;
}

.task_column {
  width: 20%;
  margin: 20px;
  transition: all 1s;
  border: 1px solid red;
}
